:root {
    --bg-main-color: #121212;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

body {
    margin: 0;

    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-main-color);

        height: 100dvh;
        width: 100dvw;

        & svg {
            width: 900px;
            fill: #ffab75;
            background-color: rgba(255, 255, 255, 0.1);

            & path {
                &.cursor {
                    transform-origin: 180px 180px;
                    fill: white;
                    cursor: pointer;
                }
            }
        }
    }
}